.menu{
    background-color: rgb(11, 60, 105);
    width: 200px;
    text-align: center;
    height: 625px;
}
.link{
   
   padding-top: 10px;
   margin-top: 5px;
   
    
}

#menuli{
    color: white;
    padding:10px;
}
#menuli:hover{
    text-decoration: none;
    
}
.link:hover{
    background-color: rgb(6, 76, 141);
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: white;

}


